<html lang="en">
<head>
  <title>Dice Gamble</title>
  <link rel="stylesheet" href="gamblingstyle.css">
</head>
<body>
<div class="container">
  <div id="background" class="box"><img src='reddice.jpeg' class="body-image"></div>
  <div id="border" class="box overlay">
    <div id="header"><h2 class="">DICE GAMBLE</h2></div>
    <div id="image-table-body">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>